.App {
  text-align: center;
}

#middle {
  position:relative;
  margin:0 auto;
  clear:left;
  height:auto;
  z-index: 0;
  text-align:center;/* Add This*/
}

.Site-content {
  flex: 1;
}

.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
